.game {
  border-style: solid;
  border-width: thin;
  border-radius: 25px;
  background-color: #f2f2f2;
  min-width: 124px;
  min-height: 140px;
  margin: 5px;
  margin-top: 13px;
  font-size: 0.9em;

  .matchup {
    font-weight: bold;
    padding-top: 10px;
  }

  p {
    text-align: center;
  }
}
